<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".OpenSesameApplication"
        android:allowBackup="false"
        android:label="OpenSesame"
        android:usesCleartextTraffic="false">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="${opensesameInvocationHost}" android:pathPrefix="/invoke/" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="openid-credential-offer" android:host="*" />
                <data android:scheme="haip-vci" android:host="*" />
            </intent-filter>
        </activity>

        <activity
            android:name=".OpenId4VpActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="openid4vp" android:host="*" />
                <data android:scheme="haip-vp" android:host="*" />
                <data android:scheme="mdoc" android:host="*" />
            </intent-filter>
        </activity>

        <activity
            android:name=".DigitalCredentialsActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="androidx.credentials.registry.provider.action.GET_CREDENTIAL" />
                <action android:name="androidx.identitycredentials.action.GET_CREDENTIALS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>
